<!DOCTYPE html>
<!-- <html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{}"
> -->
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca OMDB</title>
</head>
<body>
<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
    <h1>Busca Filmes OMDB</h1>
    
      <!-- Formulário que busca filme -->
        <form th:action="@{/filme/buscaromdb}" method="get">
            <input type="text" name="termo" th:value="${param.termo}" placeholder="Digite o título do filme">
            <button type="submit">Buscar</button>
        </form>

        <!-- Exibe mensagem de erro -->
        <div th:if="${erro}" class="alert alert-danger" th:text="${erro}"></div>

        <!-- Resultados da busca que está no controller-->
        <div th:if="${resultados}">
            <h2>Resultados</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Ano</th>
                        <th>Duracao</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="filme : ${resultados}">
                        <td th:text="${filme.titulo}">Título</td>
                        <td th:text="${filme.ano}">Ano</td>
                        <td th:text="${filme.duracao}">Duracao</td>
                    </tr>
                </tbody>
            </table>
		</div>
</div>
</body>
</html>